Source: plasma-vault
Section: kde
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Build-Depends: cmake (>= 2.8.12),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.17.0~),
               kio-dev,
               libkf5activities-dev (>= 5.17.0~),
               libkf5config-dev (>= 5.17.0~),
               libkf5configwidgets-dev (>= 5.17.0~),
               libkf5coreaddons-dev (>= 5.17.0~),
               libkf5dbusaddons-dev (>= 5.17.0~),
               libkf5i18n-dev (>= 5.17.0~),
               libkf5kio-dev (>= 5.17.0~),
               libkf5plasma-dev (>= 5.17.0~),
               libkf5sysguard-dev,
               libkf5widgetsaddons-dev (>= 5.17.0~),
               pkg-kde-tools (>= 0.15~),
               qtbase5-dev (>= 5.7.0~),
               qtdeclarative5-dev (>= 5.7.0~),
Standards-Version: 4.1.2
Homepage: https://www.kde.org/
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/plasma/plasma-vault.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/plasma/plasma-vault.git

Package: plasma-vault
Architecture: any
Depends: cryfs,
         encfs,
         plasma-framework,
         qml-module-qtquick-layouts,
         qml-module-qtquick2,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Plasma applet and services for creating encrypted vaults
 File enryption widget.
